@model List<PIV_PF_ProyectoFinal.Models.viewModel.cListaUsuario>

@{
    ViewBag.Title = "cConsultarUsuarios";
}

<h2>Consultar Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Usuario</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.ID_Usuario</td>
                <td>@usuario.Identificacion</td>
                <td>@usuario.Nombre_Usuario</td>
                <td>@usuario.Apellidos_Usuario</td>
                <td>@usuario.ESTADO</td>
            </tr>
        }
    </tbody>
</table>

