@model PIV_PF_ProyectoFinal.Models.viewModel.cAgregarUsuarios

@{
    ViewBag.Title = "RegistroUsuario";
}

<br />
<br />
<h3 style="text-align: center; font-family: Hedvig Letters Serif; text-decoration: underline; ">Por favor ingrese los siguientes datos para registrar su Usuario</h3>
<br />
@if (ViewBag.ValorMensaje == 1)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Mensaje</h2>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (ViewBag.ValorMensaje == 0)
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mensaje</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">@ViewBag.MensajeProceso</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@using (Html.BeginForm("RegistroUsuario", "Usuario", FormMethod.Post, new { @class = "form" }))
{
  <div class="container d-flex justify-content-center align-items-center">
      <div class="bg-dark-subtle p-4 rounded">
          <form id="Formulario" style="text-align:center">
              <fieldset style="text-align:center">

                  <div class="form-group">
                      @Html.LabelFor(model => model.IDENTIFICACION, "Identificación")
                      @Html.TextBoxFor(model => model.IDENTIFICACION, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.IDENTIFICACION, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.NOMBRE, "Nombre")
                      @Html.TextBoxFor(model => model.NOMBRE, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                  </div>
                  <div class="form-group">
                      @Html.LabelFor(model => model.APELLIDOS, "Apellido")
                      @Html.TextBoxFor(model => model.APELLIDOS, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.APELLIDOS, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.CORREO, "Correo")
                      @Html.TextBoxFor(model => model.CORREO, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.CORREO, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.CLAVE, "Clave hola")
                      @Html.PasswordFor(model => model.CLAVE, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.CLAVE, "", new { @class = "text-danger" })
                  </div>
                  <div class="form-group ">
                      @Html.LabelFor(model => model.ESTADO)
                      @Html.DropDownListFor(model => model.ESTADO, new List<SelectListItem>
                      {
                          new SelectListItem() { Text = "Activo", Value = "Activo" },
                          new SelectListItem() { Text = "Inactivo", Value = "Inactivo" },
                      }, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                      <input type="submit" class="btn btn-primary" value ="Agregar Usuario" />
                  </div>
              </fieldset>
          </form>
      </div>
  </div>
}