@model PIV_PF_ProyectoFinal.Models.DetallesFactura

@{
    ViewData["Title"] = "Delete";
}


<style>
 


    h1 {
        color: black;
        text-decoration: underline;
    }
</style>

<h1>Eliminar</h1>

<h3>¿Seguro de que deseas eliminar esto ? </h3>
<div>
    <div>
        
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;text-align:justify-all;">
            @* <img src="~/img/usuario (1).png" class="card-img-top" style="width: 100px; height: auto; "> *@
            <div class="card-body">
                <h5 class="card-title">Detalles Factura</h5>
                <dl class="row">
                    <dt >
                        @Html.DisplayNameFor(model => model.Subtotal)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Subtotal)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.CodigoFacturaNavigation)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.CodigoFacturaNavigation.CodigoFactura)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.CodigoProductoNavigation.CodigoProducto)
                    </dd>
                </dl>
                <form asp-action="Delete">
                <input type="hidden" asp-for="IdDetallesFactura" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a type="button" class="btn btn-warning" asp-action="Index">Regresar a la lista</a>
                </form>
            </div>
        </div>

    </div>

</div>