@model IEnumerable<PIV_PF_ProyectoFinal.Models.DetallesFactura>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        
        background-image: url('img/composicion-elementos-medicos-laicos-planos-sobre-fondo-cemento-azul.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }


    h1 {
        color: black;
        text-decoration: underline;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFacturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoFacturaNavigation.CodigoFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProductoNavigation.CodigoProducto)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdDetallesFactura">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDetallesFactura">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
