@model IEnumerable<PIV_PF_ProyectoFinal.Models.DetallesFactura>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        background-image: url('https://img.freepik.com/foto-gratis/composicion-elementos-medicos-laicos-planos-sobre-fondo-cemento-azul_23-2148502915.jpg?w=1380&t=st=1702704097~exp=1702704697~hmac=6721553e8d80e30f52d6a3d6b36e767ce8509169c58d5af2218ffe4a52464cf9');
        background-size: cover;
        background-position: center;
    }


    h1 {
        color: white;
    }
</style>


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFacturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFacturaNavigation.CodigoFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProductoNavigation.CodigoProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetallesFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetallesFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetallesFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
