@model PIV_PF_ProyectoFinal.Models.Cliente
@{
    ViewData["Title"] = "Eliminar";
}
<style>
    body {
        background-image: url('@Url.Content("~/img/fondo2.jpg")');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
        font-size: 18px;
    }



    h1 {
        color: black;
        text-decoration: underline;
    }
</style>
<h1>Eliminar</h1>

<h3>¿Seguro de que deseas eliminar esto ? </h3>
<div>
    <div>
       
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;text-align:center;">
            <img src="~/img/quitar.png" class="card-img-top" style="width: 100px; height: auto; ">
            <div class="card-body">
                <h5 class="card-title">Cliente</h5>
                <dl class="row">
                    <dt >
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Identificacion)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.NombreCliente)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.NombreCliente)
                    </dd>
                    <dt >
                        @Html.DisplayNameFor(model => model.Correo)
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Correo)
                    </dd>
                </dl>
              

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdClientes" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a type="button" class="btn btn-warning" asp-action="Index">Regresar a la lista</a>
                </form>

            </div>
        </div>

    </div>

</div>
