@model IEnumerable<PIV_PF_ProyectoFinal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        background-image: url('https://img.freepik.com/foto-gratis/resumen-borroso-defocused-farmacia-farmacia_1203-9459.jpg?w=826&t=st=1702697334~exp=1702697934~hmac=a2855cd45ec17bc30e1c91dc26b00e6ef9b2ec2913f65d25171b3d621a3f6702');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }


    h1 {
        color: black;
        text-decoration: underline;
    }
</style>

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClientes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClientes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClientes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
