@model IEnumerable<PIV_PF_ProyectoFinal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        background-image: url('img/composicion-elementos-medicos-laicos-planos-sobre-fondo-cemento-azul.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }


    h1 {
        color: black;
        text-decoration: underline;
    }
</style>



<p>
    <a asp-action="Create">Crear</a>
</p>



<table class="table table-dark table-striped">


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdClientes">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdClientes">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdClientes">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

