@model PIV_PF_ProyectoFinal.Models.Usuario
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
@{
    ViewData["Title"] = "Eliminar";
}

<style>

    h1 {
        color: black;
        text-decoration: underline;
    }
</style>

<h1>Eliminar</h1>

<h3>¿Seguro de que deseas eliminar este Usuario?</h3>
<div>
    <div>

        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;text-align:center;">
            <img src="~/img/usuario (1).png" class="card-img-top" style="width: 100px; height: auto; ">
            <div class="card-body">
                <h5 class="card-title">Usuario</h5>
                <dl class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdentificacionUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdentificacionUsuario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCompletoUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NombreCompletoUsuario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CorreoUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CorreoUsuario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TipoUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TipoUsuario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EstadoUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EstadoUsuario)
                    </dd>
                    <dt">
                        @Html.DisplayNameFor(model => model.ContrasenaUsuario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ContrasenaUsuario)
                    </dd>
                </dl>


                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdUsuario" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a type="button" class="btn btn-warning" asp-action="Index">Regresar a la lista</a>
                </form>

            </div>
        </div>

    </div>

</div>
