@model PIV_PF_ProyectoFinal.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        background-image: url('img/detailsproductos.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }

    h1 {
        color: black;
        text-decoration: underline;
    }

    dl.row {
        margin-bottom: 20px;
    }

    dt {
        text-align: left;
    }

    dd {
        margin-bottom: 10px;
    }
</style>

<h1>Detalles</h1>

<div>

    <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;text-align:center;">
        <img src="~/img/usuario (1).png" class="card-img-top" style="width: 100px; height: auto; ">
        <div class="card-body">
            <h5 class="card-title">Cliente</h5>
            <dl class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.IdentificacionUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdentificacionUsuario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NombreCompletoUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreCompletoUsuario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CorreoUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CorreoUsuario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TipoUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoUsuario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EstadoUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EstadoUsuario)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ContrasenaUsuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContrasenaUsuario)
                </dd>
            </dl>
            <a style="margin-bottom: 7px;" type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdUsuario">Editar</a>
            <a style="margin-bottom: 7px;" type="button" class="btn btn-danger" asp-action="Index">Regresar a la lista</a>
        </div>
    </div>

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


