@model IEnumerable<PIV_PF_ProyectoFinal.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<style>

    h1 {
        color: black;
        text-decoration: underline;
    }

  
</style>

<br>
<br>

<p>
    <a type="button" class="btn btn-primary btn-lg" asp-action="Create">Añadir Usuario</a>
</p>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompletoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContrasenaUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompletoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContrasenaUsuario)
                </td>
                <td>



                    <a asp-action="Edit" asp-route-id="@item.IdUsuario">
                        <img src="~/img/proyecto.png" title="Editar" width="40" height="40" class="d-inline-block align-text-top" />
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario">
                        <img src="~/img/registro-en-linea.png" title="Detalles" width="40" height="40" class="d-inline-block align-text-top" />
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario">
                        <img src="~/img/borrar (1).png" title="Eliminar" width="40" height="40" class="d-inline-block align-text-top" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>